* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Inter', 'Segoe UI', 'Noto Sans', Arial, sans-serif;
}

body {
    background: rgb(193, 223, 210);
    color: rgb(2, 66, 37);
    overflow: hidden;
    overflow-y: scroll;
    font-size: 1.5rem;
}